<p style="color: green"><%=  %></p>
<div class="container-fluid">
        <div class="bg-dark p-3">
            <h1 class="text-light">Inventory Tracking App</h1>
            <a href="https://github.com/jeankhoury0/Inventorie-tracking-app" target="_blank"> <i class="fab fa-github"> </i> Check the repo </a>    
            <br><br>
            <div>
                <%= link_to '.xlsx report', report_inventories_path(format: :xlsx), class: "btn btn-light" %>
                <%= link_to '.csv report', report_inventories_path(format: :csv), class: "btn btn-outline-light" %>
                <%= link_to 'Generate Seed', seed_path, class: "btn btn-danger"    %>
            </div>
            <br>
        </div>
        <br>
        <%= render "layouts/error_notice" %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-6 ">
                    <%= render "inventory_items/index" %>
                </div>
                <div class="col-md-12 col-lg-6">
                    <%= render "inventories/index" %>
                </div>
            </div>
        </div>

</div>