<div id="<%= dom_id inventory %>">
<h1> Stock in: <span class="text-secondary"><%= inventory.name  %> | </span> 
    <%= link_to "", edit_inventory_path(@inventory), class:"fas fa-edit", alt:"edit" %>
    <%= link_to "", @inventory, method: :delete, class:"fas fa-trash", alt:"delete"%>
</h1>

<p class="font-weight-bold"><%= inventory.remark %></p>

<table class="table">
  <caption>Table of all items at <%= inventory.name %> </caption>
  <tr>
    <th scope="col">Item_ID</th>
    <th scope="col">Name</th>
        <th scope="col">Quantity</th>

  </tr>

    <% inventory.records.each do |record| %>
    <tr>
      <td><%= record.inventory_item.id %></td>
      <td><%= record.inventory_item.title %></td>
      <td>
          <%= button_to "-", increment_inventory_path(:inventory_item_id => record.inventory_item_id, :count => -1), form: {style: 'display:inline-block;'}%>
          <%= record.quantity %>
          <%= button_to "+", increment_inventory_path(:inventory_item_id => record.inventory_item_id, :count => 1), form: {style: 'display:inline-block;'}%>
  <% end %>
    <tr>

</table>
</div>
