<p style="color: green"><%= notice %></p>
<div>
<h1>Inventory Tracking App</h1>
    <a href="https://github.com/jeankhoury0/Inventorie-tracking-app" target="_blank"> <i class="fab fa-github"> </i> Check the repo</a>    
    <br>
    <a href="<%= inventory_item_index_path %>" class="btn btn-outline-dark">Get All Inventory Items </a>
    <%= link_to 'Download as .xlsx', report_inventories_path(format: :xlsx), class: "btn btn-outline-dark" %>
    <%= link_to 'Download as .csv', report_inventories_path(format: :csv), class: "btn btn-outline-dark" %>

<br>
<br>
<br>
<h2>Inventories</h2>
<div id="inventories">
<table class="table">
  <caption>Table of all available inventories</caption>
  <tr>
    <th scope="col">Action</th>
    <th scope="col">Name</th>
    <th scope="col">Item Count</th>
    <th scope="col">Tot. Items Quantity</th>
  </tr>

  <% @inventories.each do |inventory| %>
    <tr>
      <td><%= link_to "", edit_inventory_path(inventory), class:"fas fa-edit", alt:"edit" %>
      <%= link_to "", inventory_path(inventory), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
      },
      class:"fas fa-trash"
      %>
      <td><%= link_to inventory.name, inventory %></td>
      <td><%= inventory.inventory_items.count %></td>
      <td><%= inventory.total_quantity %></td>
  
    <tr>
  <% end %>

</table>
</div>

<%= link_to "Create New inventory", new_inventory_path, class:"btn btn-primary" %>
</div>