<div>
<h1> Stock for: <span class="text-secondary"><%= @inventory_item.title  %> | </span> 
    <%= link_to "", edit_inventory_item_path(@inventory_item), class:"fas fa-edit", alt:"edit" %>
</h1>

<p class="font-weight-bold"><%= @inventory_item.remark %></p>
  <%= render "layouts/error_notice" %>
<table class="table">
  <caption>Table of all available items: <%= @inventory_item.title %> </caption>
  <tr>
    <th scope="col">Inv_ID</th>
    <th scope="col">Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Last update</th>

  </tr>

    <% @inventory_item_records.each do |record| %>
    <tr>
      <td><%= record.inventory.id %></td>
      <td><%= record.inventory.name %></td>
      <td>
          <%= button_to "-", increment_inventory_item_path(:inventory_id => record.inventory_id, :count => -1), form: {style: 'display:inline-block;'}%>
          <%= record.quantity %>
          <%= button_to "+", increment_inventory_item_path(:inventory_id => record.inventory_id, :count => 1), form: {style: 'display:inline-block;'}%>
      <td><%= record.updated_at.strftime('%m-%d |  %T') %></td>
    <tr>
  <% end %>


</table>

   <h3>Link new records</h3>
    <ul>
      <% @inventories.each do |inventory| %>
        <li>
          <%= inventory.name %>
            <%= button_to "add" , assign_inventory_item_path(:inventory_id=> inventory), form: {style:
              'display:inline-block;'}%>
        </li>
        <% end %>
    </ul>
</div>
